{
  "extends": "stylelint-config-guidelines",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "string-quotes": "single",
    "declaration-colon-space-after": "always-single-line",
    "declaration-block-no-duplicate-properties": [ "true", {
      "ignore": [ "consecutive-duplicates-with-different-values" ]
    } ],
    "declaration-block-properties-order": "ignore",
    "number-leading-zero": "always",
    "block-closing-brace-newline-after": [ "always", {
      "ignoreAtRules": ["if", "else"]
    } ],
    "at-rule-empty-line-before": "never",
    "max-line-length": 120,
  }
}
