{
  "extends": "stylelint-config-guidelines",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "string-quotes": "single",
    "declaration-colon-space-after": "always-single-line",
    "declaration-block-no-duplicate-properties": [ "true", {
      "ignore": [ "consecutive-duplicates-with-different-values" ]
    } ]
  }
}
