/**
 * Colors.
 * Accessed with function get-color.
 */
$colors: (
  'sage': hsl(146, 49%, 68%),
  'salmon': hsl(2, 65%, 71%),
  'cinderella': hsl(12, 100%, 89%),
  'yellow': hsl(53, 93%, 84%),
  'violet': hsl(232, 50%, 45%),
  'dark': hsl(0, 0, 20%),
);

/**
 * Font Stacks
 */
$sans-serif: (
  'Larsseit',
  'Futura',
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif,
);

$serif-display: (
  'Leitura Display',
  'Hoefler Text',
  'Garamond',
  'Georgia',
  serif,
);

$serif: (
  'Leitura News',
  'Hoefler Text',
  'Garamond',
  'Georgia',
  serif
);

/**
 * Spacing Values
 */

$content-padding-left: 3rem;
$content-padding-right: 3rem;
$content-padding-top: 3rem;
$content-padding-bottom: 2rem;

/**
 * Breakpoints for responsive design.
 * Accessed with mixin handle-breakpoint.
 */

$breakpoints: (
  'small-fonts': 1000px,
  'full-nav': 300px,
);
