$intro-bg-color: get-color('peach');

$section-colors: (
  (
    'bg': get-color('mint'),
    'text': get-color('violet'),
  ),
  (
    'bg': get-color('violet'),
    'text': get-color('peach'),
  ),
  (
    'bg': get-color('yellow'),
    'text': get-color('violet'),
  ),
);

$num-colors: length($section-colors);

$intro-z-indices: (
  'background-lines': 0,
  'summary': 1,
);

$background-lines-color: lighten(get-color('salmon'), 5%);

/// Mixins for the background line shapes.
@mixin square {
  &::after {
    width: 20px;
    height: 20px;
    transform: translate3d(-50%, 100%, 0);
    border: 3px solid $background-lines-color;
  }
}

@mixin x {
  &::before {
    width: 30px;
    height: 2.5px;
    transform:  translate3d(-50%, 100%, 0) rotate(45deg);
    background: $background-lines-color;
  }

  &::after {
    width: 30px;
    height: 2.5px;
    transform: translate3d(-50%, 100%, 0) rotate(135deg);
    background: $background-lines-color;
  }
}

@mixin circle {
  &::after {
    width: 20px;
    height: 20px;
    transform: translate3d(-50%, 100%, 0);
    border: 3px solid $background-lines-color;
    border-radius: 15px;
  }
}

//////////////
// HOMEPAGE //
//////////////

/**
 * Background line decorations, inspired by
 * http://loremipsumgenerator.com
 */
.intro-lines {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: map-get($intro-z-indices, 'background-lines');

  &__line {
    position: absolute;
    border-right: 1px dashed $background-lines-color;

    /**
     * Set base positioning for all shapes.
     */
    &::after,
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 100%;
    }

    &:nth-of-type(1) {
      @include circle;
      width: 20%;
      height: 15%;
    }

    &:nth-of-type(2) {
      @include x;
      width: 55%;
      height: 25%;
    }

    &:nth-of-type(3) {
      @include square;
      width: 75%;
      height: 20%;
    }

    &:nth-of-type(4) {
      @include circle;
      width: 85%;
      height: 40%;
    }
  }
}

/**
 * The "colored stripe" sections spanning the whole container width.
 */
.full-width {
  width: 100%;
  padding-top: $content-padding-top;
  padding-bottom: $content-padding-bottom;
  padding-left: $content-padding-left;
  padding-right: $content-padding-right;
  background-color: $intro-bg-color;

  /**
   * Automatically color and highlight each section.
   */
  @for $i from 1 through $num-colors {
    $combo: nth($section-colors, $i);
    $bg-color: map-get($combo, 'bg');
    $text-color: map-get($combo, 'text');

    $child: #{$num-colors}n+#{$i + 1};

    &:nth-of-type(#{$child}) {
      @include text-color($text-color);
      background-color: $bg-color;
    }
  }
}

/**
 * The first section.
 * 1. Manually set the background-color, since it's excluded from the iteration.
 */
.intro {
  padding-top: 25%;
  background-color: $intro-bg-color;  /* 1 */

  /**
   * 1. Position the header text so we can use z-score
   *    to keep it over the background lines.
   */
  &__summary {
    font-family: $serif-display;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 4rem;
    position: relative;  /* 1 */
    z-score: map-get($intro-z-indices, 'summary');
  }
}
