/////////////
// HELPERS //
/////////////

/**
 * Hide text for everyone except screen readers.
 */
.sr-only {
  position: absolute;
  left: -99999px;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
