section.full-width.intro
  div.intro-lines
    div.intro-lines__line
    div.intro-lines__line
    div.intro-lines__line
    div.intro-lines__line

  h2.intro__summary Undergraduate researcher, teacher, and software engineer, interested in computing education and web technologies.

  p.intro__text I am a junior at #[a(href="http://www.mccormick.northwestern.edu/eecs/") Northwestern University], studying computer science with foci on human-computer interaction and machine learning. I am particularly interested in developing software tools and teaching practices for introductory-level computing education. My research is advised by #[a(href="http://users.eecs.northwestern.edu/~hq") Haoqi Zhang] in the #[a(href="http://delta.northwestern.edu") Delta Lab].

  p.intro__text I have received a number of awards for my work, including the Google Lime Scholarship, Box Engineering Diversity Scholarship, and Palantir Women in Technology Scholarship.

section.full-width.research
  h3 Research &amp; Projects

  p Here are some of the things I've been up to recently! More can be found on my Projects page.

  ul
    li #[strong Ply: Visual Regression Pruning for Web Design Source Code:] using pixel-level image comparison to determine which CSS properties can be safely pruned from web inspector output.
    li #[strong Mapping Tutorial Keywords to Inspector Output:] using web tutorials to heuristically guide the CSS feature detection process.
    li #[strong SVG Data Visualization:] I wrote a time series charting library from scratch as part of my LinkedIn summer internship.

section.full-width.teaching
  h3 Teaching

  p I am a head TA for #[strong EECS 111: Fundamentals of Computer Programming I], the introductory computer science course at Northwestern.

  p #[strong Office hours] for Winter 2017 are every #[strong Tuesday, 3-5pm] in the Ford 2nd Floor Lounge (southeast corner of the building).

  p Notes I've written for EECS 111 and 214 can be found on my Teaching page.


section.full-width.press
  h3 Press

  ul
    li #[a(href="http://www.wallpaper.com/design/what-20-year-olds-think-about-design#washington-usa-sarah-lim") 20/20 vision: what today&#8217;s 20-year-olds think about design], #[em Wallpaper* magazine], September 2016
    li #[a(href="http://www.mccormick.northwestern.edu/eecs/news/articles/2016/sarah-lim-named-recipient-of-google-lime-quip-scholarship.html") Sarah Lim Named Recipient of 2016 Google Lime Scholarship &amp; Quip Engineering Diversity Scholarship Runner-up], #[em Northwestern EECS Department News], June 2016
    li #[a(href="http://www.mccormick.northwestern.edu/eecs/news/articles/2016/10-eecs-undergraduate-students-received-undergraduate-research-grant-funding.html") 10 EECS Undergraduate Students in Haoqi Zhang’s DTR Course Applied for &amp; Received Undergraduate Research Grant Funding], #[em Northwestern EECS Department News], May 2016
