$header-bg-color: get-color('peach');

////////////
// HEADER //
////////////

.site-header,
.site-header * {
  outline: 1px solid red;
}

/**
 * 1. Reset header default margins.
 * 2. Pad with content-*-padding.
 */
.site-header {
  margin: 0;  /* 1 */
  padding-left: $content-padding-left;  /* 2 */
  padding-right: $content-padding-right;  /* 2 */
  padding-top: $content-padding-top;  /* 2 */
  padding-bottom: $content-padding-bottom;  /* 2 */
  background-color: $header-bg-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /**
   * 1. Make sure to use regular font-weight, since the serif display
   *    font is already bold.
   */
  &__title {
    font-family: $serif-display;
    font-weight: 400;  /* 1 */
    font-size: 2rem;
    margin: 0;
  }
}
